/* Engine Tailwind CSS v4 Mutakhir */
@import "tailwindcss";

@layer base {
  html {
    /* Mengaktifkan gulir halus saat menu navbar diklik */
    scroll-behavior: smooth; 
  }
}

/* Mengubah warna latar saat pengguna memblok/menyorot teks */
::selection {
  background-color: rgb(59 130 246 / 0.3); /* blue-500 dengan opacity 30% */
  color: #bfdbfe; /* text-blue-200 */
}

/* =========================================
   Sistem Scrollbar Kustom (Elite Edition)
   ========================================= */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}